body{
  font-family: 'Lato', sans-serif;
  margin: 0 auto;
}

.main-div.container-fluid{
  margin: 0;
  padding: 0;
}

.top-div{
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-bottom: 50px;
}

.main-logo{
  display: flex;
  justify-content: center;
  height: 475px;
}

#logo{
  width: 475px;
}

.enter-names{
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 30px 0px;
  padding-top: 10px;
  letter-spacing: 3px;
  font-size: 20px;
}

#player1, #player2{
  padding: 8px 50px;
  margin: 10px;
  font-size: 18px;
  text-align: center;
  
}
::placeholder{
  color: salmon;
  letter-spacing: 4px;
}


.containerx {
  width: auto;
  margin: auto;
}



@-webkit-keyframes top {
  from {
    -webkit-transform: translate(0rem, 0);
            transform: translate(0rem, 0);
  }
  to {
    -webkit-transform: translate(0rem, 3.5rem);
            transform: translate(0rem, 3.5rem);
  }
}

@keyframes top {
  from {
    -webkit-transform: translate(0rem, 0);
            transform: translate(0rem, 0);
  }
  to {
    -webkit-transform: translate(0rem, 3.5rem);
            transform: translate(0rem, 3.5rem);
  }
}
@-webkit-keyframes bottom {
  from {
    -webkit-transform: translate(-11.5rem, 0);
            transform: translate(-11.5rem, 0);
  }
  to {
    -webkit-transform: translate(0rem, 0);
            transform: translate(0rem, 0);
  }
}
@keyframes bottom {
  from {
    -webkit-transform: translate(-11.5rem, 0);
            transform: translate(-11.5rem, 0);
  }
  to {
    -webkit-transform: translate(0rem, 0);
            transform: translate(0rem, 0);
  }
}
#start-game-button {
  position: relative;
  border: 0;
  letter-spacing: 0.15em;
  margin-bottom: 20px;
  padding: 1rem 2.5rem;
  background: transparent;
  outline: none;
  font-size: 28px;
  color: #111111;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.15s;
}
#start-game-button::after, #start-game-button:before {
  content: "";
  position: absolute;
  height: 40%;
  width: 10%;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  z-index: -2;
  border-radius: 50%;
}
#start-game-button::before {
  background-color: rgb(221, 116, 221);
  top: -0.75rem;
  left: 0.5rem;
  -webkit-animation: top 2s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.25s infinite alternate;
          animation: top 2s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.25s infinite alternate;
}
#start-game-button::after {
  background-color: goldenrod;
  top: 3rem;
  left: 13rem;
  -webkit-animation: bottom 2s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.5s infinite alternate;
          animation: bottom 2s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.5s infinite alternate;
}
#start-game-button:hover {
  color: white;
}
#start-game-button:hover::before, #start-game-button:hover::after {
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 0;
  -webkit-animation: none;
          animation: none;
}
#start-game-button:hover::after {
  left: 0rem;
}
#start-game-button:hover::before {
  top: 0.5rem;
  left: 0.35rem;
}


.bottom-div{
  background-image: url(images/set1.jpg);
  background-size: 110%;
  height:950px;
  background-repeat: no-repeat;
  color: white;
  padding: 10px;
}

#bottom-half-div{
  height: 820px;
}


#player-scores{
  padding: 20px 0px;
  display: flex;
  align-items: center;
}

.top-left-score{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 2px solid purple;
  border-radius: 10px;
}

#p1Name{
  font-size: 35px;
  background-color: black;
  text-align: center;
  margin-top: 8px;
}

#p1Score{
  font-size: 35px;
  color: black;
}

.top-left-score > p{
  padding-left: 10px;
}


.top-right-score{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border: 2px solid purple;
  border-radius: 10px;
}

#p2Name{
  font-size: 35px;
  background-color: black;
  text-align: center;
  margin-top: 8px;
}

#p2Score{
  font-size: 35px;
  color: black;
}

.top-right-score > p{
  padding-right: 10px;
}


#dio-box{
  display: flex;
  justify-content: center;
  border-left: 2px solid white;
  border-top: 2px solid white;
  border-right: 2px solid white;
  background-color: rgb(255, 255, 255);
  color: black;
  height: 100px;
  border: 4px solid purple;
  border-radius: 20px;
}

.qnaGrid{
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: url(images/Question+A+A-2.jpg);
  background-repeat: no-repeat;
  background-position-x: 40px;
  margin-top: 75px;
}

#question{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 85px 0px 160px 0px;
  height: 50px;
  width: 900px;
}

#current-question{
  padding-left: 125px;
  text-align: center;
}

.qnaGrid > div > p {
  margin-bottom: 78px;
  margin-left: 170px;
}

.a, .b, .c, .d {
  display:flex;
  flex-wrap: wrap;
}


.regis-and-button{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 840px;
}

#host{
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 50px;
}

#regis{
  width: 400px;
  border: 10px solid purple;
  border-radius: 40px;
}

.gif-div{
  display: flex;
  justify-content: center;
  align-content: center;
}
#gif{
  width: 400px;
  border: 1px solid black;
  border-radius: 15px;
}


#bottom-button{
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 40px;
}



#next-question {
  border: 0;
  box-shadow: 0;
  background-color: cadetblue;
  color: #fff;
  padding: 20px 40px;
  font-size: 30px;
  border-radius: 5px;
}




